.service-header {
	@media (max-width: 1024px) {
		@apply items-start h-28;
	}
}

.service-sidebar {
	// @media (max-width: 1024px) {
	//   @apply w-full flex-wrap flex;
	//   flex: 0;

	//   .sidebar-menu-item {
	//     @apply w-2/4 flex justify-center border-b border-r;
	//   }
	// }
}

.service-title {
	@media (max-width: 768px) {
		@apply truncate block text-right;
		width: 600px;
	}

	@media (max-width: 425px) {
		width: 350px;
	}

	@media (max-width: 375px) {
		width: 250px;
	}
}
::v-deep {
	.sortable-options li {
		@apply flex items-center;
	}
}
