@import '../../../sass/variables';
.video-call {
    height: 450px;
}
.caller {
    z-index: 100;
}

.user-profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $gray-400 !important;
    span {
        font-size: 42px;
        font-weight: lighter;
    }
}
.btn-share-screen {
    right: 15px;
    bottom: 15px;
    z-index: 5;
}
.btn-record {
    top: 10px;
    left: 10px;
    z-index: 10;
    i {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: red;
        display: inline-block;
    }
}
.preview-wrapper.preview-thumb {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 10;
    video {
        height: 100%;
        width: auto;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
}
video,
canvas {
    pointer-events: none;
}
.recorded {
    .recorded-preview {
        height: 180px;
        background-color: #333;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .recorded-details {
        bottom: 0;
    }
}
.recorded-data {
    z-index: 100;
    top: 0;
    left: 0;
}
.opacity-0 {
    opacity: 0 !important;
}
.video-container {
    &.mirror {
        transform: rotateY(180deg);
    }
}
.disabled-line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 80%;
    background: red;
    transform: translate(-50%, -50%) rotate(45deg);
}
.modal{
    &.show{
        display: block;
    }
    &.is-shrinked{
        visibility: hidden;
        width: 250px;
        height: 140px;
        .modal-dialog{
            margin: 0;
            transform: scale(1);
        }
        .modal-dialog,
        .video-call{
            height: 100% !important;
        }
        .btn-share-screen{
            bottom: auto;
            top: 10px;
            right: 10px;
        }
        #recorderControls{
            svg {
                width: 20px; 
                height: 20px;
            }
        }
    }
}