::v-deep .v-calendar-events .v-event-timed {
	@apply border-none p-2  transition-colors shadow-inner overflow-visible #{!important};
	width: 250px !important;
	min-height: 48px !important;
}
::v-deep {
	.v-calendar-daily__interval-text {
		@apply text-xs text-muted #{!important};
	}
	.v-ripple__container {
		@apply hidden #{!important};
	}
	.v-calendar-daily__intervals-body {
		width: 70px !important;
	}
}

.day-interval {
	@apply w-full h-full transition-colors hover:bg-gray-100;
	&.disabled {
		@apply pointer-events-none bg-gray-100;
	}
}
.block-dropdown {
	@apply relative inline-block;

	.block-dropdown-menu {
		> div {
			max-height: 200px;
		}
		@apply transform scale-95  origin-top absolute right-1/2 translate-x-1/2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 transition-all opacity-0 ease-in-out whitespace-nowrap p-2;
		z-index: -1;
	}
	&.open {
		.block-dropdown-menu {
			@apply z-50 scale-100 opacity-100;
		}
	}
}
.calendar-daily {
	@media (max-width: 768px) {
		::v-deep {
			.v-calendar-daily__scroll-area {
				overflow-y: inherit;
			}
			.v-event-timed-container {
				overflow: hidden;
			}
		}
	}
}
