@import '../../sass/variables';
.checkbox label {
	cursor: pointer;
	line-height: 20px;
}
.checkbox label:after {
	content: '';
	display: table;
	clear: both;
}
.checkbox .cr {
	position: relative;
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 0.25em;
	width: 1.2em;
	height: 1.2em;
	float: left;
	margin-right: 0.5em;
	transition: $transition-base;
}
.checkbox .cr svg {
	position: absolute;
	font-size: 0.7em;
	line-height: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: $transition-base;
}
.checkbox label input[type='checkbox'] {
	display: none;
}
.checkbox label input[type='checkbox'] + .cr > svg {
	opacity: 0;
}
.checkbox label input[type='checkbox']:checked + .cr > svg {
	opacity: 1;
}
.checkbox label input[type='checkbox']:checked + .cr {
	border-color: $primary;
	background-color: $primary;
}
.checkbox label input[type='checkbox']:disabled + .cr {
	opacity: 0.5;
}