@import '../sass/variables';
$timeCount: 15;
[v-cloak] {
	opacity: 0;
}
.backlines {
	pointer-events: none;
	z-index: 0;
	> div {
		border-left: solid 1px $border-color;
	}
	left: -0.5px;
}
.font-heading {
	font-family: 'Avenir Next', sans-serif;
}
.profile-image {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-size: cover;
	background-size: no-repeat;
	background-position: center;
	background-color: $gray-400 !important;
	position: relative;
	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $gray-500;
		font-size: 24px;
	}
	&.profile-image-md {
		width: 80px;
		height: 80px;
		span {
			font-size: 24px;
		}
	}
	&.profile-image-sm {
		width: 60px;
		height: 60px;
		span {
			font-size: 20px;
		}
	}
	&.profile-image-xs {
		width: 40px;
		height: 40px;
		span {
			font-size: 20px;
		}
	}
}
.cursor-pointer {
	cursor: pointer !important;
}
.service {
	transition: $transition-base;
	&:hover {
		background-color: $light;
	}
}

.v-calendar {
	.vc-title {
		font-family: 'Avenir Next';
		font-size: 18px;
	}
	.vc-day-content {
		line-height: 1;
	}
}
.badge-day {
	width: 25px;
	height: 25px;
}
.position-absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#book-progress {
	.book-step {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: #ddd;
		svg {
			fill: #aaa;
		}
		&.step-current {
			background-color: $primary;
			svg {
				fill: #fff !important;
			}
		}
		&.step-complete {
			svg {
				fill: black;
			}
		}
	}
	&:before {
		position: absolute;
		content: '';
		width: 90%;
		height: 1px;
		background-color: #eee;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 0;
	}
}
#steps-container {
	height: 270px;
}
.w-20 {
	width: 20% !important;
}
.btn-timeslot {
	font-size: 14px;
}
.booking-loader {
	z-index: 10;
}
.checkmark-container {
	width: 80px;
	height: 80px;
}
.opacity-0 {
	opacity: 0 !important;
}
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.15s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

.weekday-slider {
	transition: $transition-base;
	> div {
		flex: 0 0 86px;
	}
	.weekday-container {
		background: $light;
	}
	.weekday-day.disabled {
		opacity: 0.35;
		pointer-events: none;
	}
}
.back-to-services {
	z-index: 1;
	top: 10px;
	left: 10px;
}
.timeslots-container {
	.timeslot {
		// flex: 0 0 calc(100% / $timeCount);
		letter-spacing: -0.05em;
		line-height: 1.1em;
	}
}
.booking-modal-progress {
	height: 200px;
}
.coach-container {
	.coach:last-child {
		margin-bottom: 0 !important;
	}
}
.timeline-container {
	.selector {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		border: dashed 1px #aaa;
		border-radius: 5px;
		pointer-events: none !important;
		transform: calc(mx - 50%, my - 50%);
	}
	.timeline:last-child {
		margin-bottom: 0 !important;
	}
	.timeslot:last-child {
		border-right: none !important;
	}
}
.flex-1 {
	flex: 1;
}

@media only screen and (max-width: 991px) {
	#app {
		overflow: hidden;
		height: 100vh;
		width: 100vw;
	}
	.selected-service-container {
		overflow: auto;
		height: 100vh;
		width: 100%;
		background-color: white;
		.shadow-sm {
			box-shadow: none !important;
		}
	}
	.col-container {
		padding: 0;
		width: 100%;
		min-height: 100%;
	}
	.profile-image {
		width: 100px;
		height: 100px;
	}
	.selected-service {
		.w-50 {
			width: 100% !important;
		}
	}
}
