@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

$primary: #6e82ea;
$secondary: #637382;
$bg-light: #f8f9fa;
$media-md-break: 767.98px;
$border-radius: 0.35rem;
$border-radius-lg: 0.4rem;

*,
*:before,
*:after {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
body ::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 8px;
	height: 8px;
}
body ::-webkit-scrollbar-thumb {
	cursor: pointer;
	border-radius: 30px;
	background: white;
	transition: color 0.2s ease;
	border: solid 1px #ccc;
}
body ::-webkit-scrollbar-track {
	background: #f0f0f0;
	border-radius: 15px;
}

.position-absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
$viewport_heights: (
	'10vh': 10vh,
	'20vh': 20vh,
	'30vh': 30vh,
	'40vh': 40vh,
	'50vh': 50vh,
	'60vh': 60vh,
	'70vh': 70vh,
	'80vh': 80vh,
	'90vh': 90vh,
	'100vh': 100vh,
);
@each $height, $value in $viewport_heights {
	.h-#{$height} {
		min-height: #{$value};
		height: auto;
	}

	@each $breakpoint, $breakpoint_value in $grid-breakpoints {
		@media screen and (max-width: #{$breakpoint_value}) {
			.h-#{$height}-#{$breakpoint} {
				min-height: #{$value} !important;
				height: auto;
			}
		}
	}
}
.opacity-0 {
	opacity: 0 !important;
}
[v-cloak] {
	opacity: 0;
}
.btn {
	.spinner {
		position: absolute;
		z-index: 1;
		top: 49%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 26px;
	}
}
.cursor-pointer{
	cursor: pointer !important;
}
.outline-0 {
	outline: 0 !important;
}
.user-profile-image{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}