@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/variables';

$border-radius: 0.5rem;
$border-radius-sm: 0.5rem;
$border-radius-lg: 0.6rem;
$container-max-widths: (
	xl: 1180px
);
$grid-gutter-width: 40px;

// Colors
$primary: #3167e3;
$secondary: #fae6e2;
$orange: #ff5d47;
$facebook: #4267b2;
$google: #dc3e29;
$light: #838ea6;
$dark: #282f3e;
$blue: #77b0ea;
$green: #39ceb0;

$border-color: rgba($dark, 0.1);
$body-color: #39445b;
$nav-pills-link-active-bg: rgba($primary, 0.15);
$nav-pills-link-active-color: $primary;
$theme-colors: map-merge(
	$theme-colors,
	(
		'primary': $primary,
		'secondary': $secondary,
		'orange': $orange,
		'white': $white,
		'gray': #999,
		'light': $light,
		'facebook': $facebook,
		'google': $google,
		'gray-100': $gray-100,
		'gray-200': $gray-200,
		'gray-300': $gray-300,
		'gray-400': $gray-400,
		'gray-500': $gray-500,
		'blue': $blue,
		'green': $green,
		'dark': $dark
	)
);

/* Card */
$card-border-width: 0;
$card-border-radius: 1rem;

$link-color: #1e70bf;
$nav-link-padding-y: 0.85rem;

$input-font-size-lg: 1rem;
$dropdown-padding-y: 0.45rem;
$close-font-size: 2rem;
$close-font-weight: 200;
$dropdown-font-size: 0.95rem;
$navbar-nav-link-padding-x: 0.75rem;
$dropdown-divider-margin-y: 0.45rem;
$enable-caret: false;
$dropdown-border-width: 0;

$font-family-base: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$headings-font-weight: 600;

$alert-padding-y: 0.35rem;
$transition-base: all 0.1s ease-in-out;
$transition-fade: opacity 0.1s linear;

// Pagination
$pagination-color: $dark;
$pagination-active-color: $primary;
$pagination-active-bg: $light;
$pagination-active-border-color: transparent;
$pagination-border-color: transparent;
$pagination-disabled-border-color: transparent;
$pagination-hover-border-color: transparent;
$pagination-disabled-color: #ddd;

// Modals
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
$modal-transition: transform 0.15s ease-out;
$modal-fade-transform: scale(0.95);
$modal-content-border-width: 0;
$modal-scale-transform: 0;
$modal-footer-margin-between: 0.5rem;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.34;
$line-height-sm: 1.2;
$text-color: #636b6f;
$small-font-size: 90%;

// Buttons
$btn-line-height: $line-height-base;
$btn-line-height-sm: $line-height-base;
$btn-default-color: $text-color;
$btn-padding-x-lg: 1.2rem;
$btn-padding-y-lg: 0.7rem;
$btn-font-size-lg: 0.75rem;
$btn-box-shadow: 5px;
$btn-focus-box-shadow: 0;
$btn-border-radius-sm: 3rem;
$btn-border-radius: 3rem;
$btn-border-radius-lg: 3rem;
$btn-padding-y: 0.5rem;
$btn-padding-x: 0.75rem;
$btn-padding-y-sm: 0.25rem;
$btn-font-size: $font-size-base;
$btn-focus-width: 0;
$btn-transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;
$input-btn-font-size: 0.75rem;
$input-btn-focus-color: $primary;
$input-btn-focus-width: 0.05rem;
$btn-font-weight: 500;
$btn-border-width: 0;
$input-btn-padding-y: 0.3rem;
$input-btn-padding-x: 0.7rem;

// Brands
$brand-primary: #3f51b5;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Dropdown
$dropdown-link-active-bg: $light;
$dropdown-link-active-color: $dropdown-color;
$dropdown-border-radius: $border-radius;
$dropdown-color: $black;
$dropdown-link-color: $black;
$dropdown-link-hover-bg: rgba($light, 0.65);
$dropdown-item-padding-x: 0.5rem;
$dropdown-item-padding-y: 0.3rem;
$dropdown-header-padding: $dropdown-padding-y $dropdown-item-padding-x;
$dropdown-header-color: $secondary;

// Badge
$badge-font-size: 90%;
$badge-font-weight: $font-weight-base;
$badge-padding-x: 0.5rem;
$badge-padding-y: 0.15rem;
$badge-border-radius: $border-radius;

// Navbar
$navbar-default-bg: rgb(58, 45, 45);
$navbar-brand-padding-y: 0;
$navbar-light-color: #212b35;
$navbar-brand-font-size: inherit;
$enable-validation-icons: false;
$enable-responsive-font-size: true;
$navbar-nav-link-padding-x: 1.25rem;

// Inputs
$input-padding-y: 0.3rem;
$input-color: #000;
$input-focus-color: #000;
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
$input-border-radius: 0.4rem;
$input-border-radius-lg: $border-radius-lg;
$input-border-radius-sm: $border-radius-sm;
$input-border-color: #caced6;
$input-focus-border-color: $primary;
$input-focus-width: 0;
$input-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;
$input-placeholder-color: $text-muted;
$input-height: add($input-line-height * 1em, add($input-padding-y * 2.5, $input-height-border, false));
$input-height-lg: calc(#{$input-line-height-lg * 1em} + #{$input-btn-padding-y-lg * 3} + #{$input-height-border});
$input-font-size: $font-size-base;

// Spinners
$spinner-width: 2rem;
$spinner-height: 2rem;
$spinner-border-width: 0.1em;
$spinner-border-width-sm: 0.035rem;

// List groups
$list-group-bg: transparent;
$list-group-hover-bg: $white;
$list-group-action-active-bg: $white;
$list-group-active-bg: $white;
$list-group-action-hover-color: $black;
$list-group-active-color: $primary;
$list-group-action-active-color: $black;
$list-group-item-padding-y: 0.5rem;
$list-group-item-padding-x: 0.8rem;
$list-group-color: rgba($black, 80%);

$table-hover-bg: rgba($secondary, 3%);
$box-shadow-xs: 0 0.075rem 0.25rem rgba($dark, 0.15);
$box-shadow-sm: 0 1px 2px rgba($dark, 0.2);
$box-shadow: 0 0.5rem 1rem rgba($dark, 0.15);
$box-shadow-lg: 0 1rem 3rem rgba($dark, 0.175);

$viewport_heights: (
	'10vh': 10vh,
	'20vh': 20vh,
	'30vh': 30vh,
	'40vh': 40vh,
	'50vh': 50vh,
	'60vh': 60vh,
	'70vh': 70vh,
	'80vh': 80vh,
	'90vh': 90vh,
	'100vh': 100vh
);
$spacer: 1.25rem;
$spacers: (
	0: 0,
	1: (
		$spacer * 0.25
	),
	2: (
		$spacer * 0.5
	),
	3: $spacer,
	4: (
		$spacer * 1.5
	),
	5: (
		$spacer * 3
	)
);
