@import '../sass/bootstrap';
#app {
    [v-cloak] {
        opacity: 0;
    }

    #button{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .widget{
        bottom: 20px;
        left: 20px;
        transition: $transition-base;
        width: 350px;
        height: 550px; 
    }
    .btn-close{
        top: 10px;
        right: 10px;
        z-index: 10;
    }

    .profile-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-size: cover;
        background-size: no-repeat;
        background-position: center;
        position: relative;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $gray-500;
            font-size: 24px;
        }
        &.profile-image-sm{
            width: 60px;
            height: 60px;
            span{
                font-size: 20px
            }
        }
    }
    .service {
        transition: $transition-base;
        &:hover {
            background-color: $light;
        }
    }
    .top-buttons{
        .btn {
            svg {
                transition: $transition-base;
            }
            &:not(:hover){
                svg {
                    fill: $gray-400;
                }
            }
        }
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.35s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }

    .badge-day {
        width: 25px;
        height: 25px;
    }

    .weekday-slider {
        transition: $transition-base;
        > div {
            flex: 0 0 90px;
        }
        .weekday-container {
            background: $light;
        }
        .weekday-day.disabled{
            opacity: 0.35;
            pointer-events: none;
        }
    }
    .timeslots-container{
        height: 230px
    }
}