.auth-container {
  top: 0;
  left: 0;
  z-index: 9000;
  background-color: rgba(45, 44, 104, 0.75);
  transition: all 0.1s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.auth-container .auth-body {
  width: 50%;
  transition: all 0.1s ease-in-out;
  right: -100%;
}
@media (max-width: 768px) {
  .auth-container .auth-body {
    width: 100%;
  }
}
.auth-container.open {
  visibility: visible;
  opacity: 1;
}
.auth-container.open .auth-body {
  right: 0;
}
.auth-container[data-v-e5b1fbce] {
  top: 0;
  left: 0;
  z-index: 9000;
  background-color: rgba(45, 44, 104, 0.75);
  transition: all 0.1s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.auth-container .auth-body[data-v-e5b1fbce] {
  width: 50%;
  transition: all 0.1s ease-in-out;
  right: -100%;
}
@media (max-width: 768px) {
.auth-container .auth-body[data-v-e5b1fbce] {
    width: 100%;
}
}
.auth-container.open[data-v-e5b1fbce] {
  visibility: visible;
  opacity: 1;
}
.auth-container.open .auth-body[data-v-e5b1fbce] {
  right: 0;
}
