@import '../../../../../sass/variables';
.user-profile-image {
	width: 55px;
	height: 55px;
	span {
		font-size: 20px;
	}
}
.position-top-right {
	position: absolute;
	top: 0;
	right: 0;
}
.badge-icon {
	svg {
		transform: scale(1.3);
		margin-right: 2px;
	}
	&.text-primary {
		svg {
			fill: $primary;
		}
	}
	&.text-warning {
		svg {
			fill: $warning;
		}
	}
}
.service {
	width: 33%;
}
.text-decoration-dark {
	text-decoration-color: $dark !important;
}
.member {
	.btn-more {
		opacity: 0;
		transition: $transition-base;
	}
	&:hover {
		.btn-more {
			opacity: 1;
		}
	}
}
.btn-add {
	border: dashed 1px $gray-500;
	transform: none !important;
}
