.modal-loader{
	z-index: 100;
}
	
.close {
    outline: 0;
    padding: 0 !important;
    margin: 0 !important;
    position: absolute;
    top: 8px;
    right: 14px;
    float: none !important;
    z-index: 2;
}
