@import '../../../../sass/variables';
.user-profile-image-sm{
	width: 30px;
	height: 30px;
	span {
		font-size: 11px;
	}
}
.w-35{
	width: 35% !important;
}
.w-15{
	width: 15% !important;
}

.custom-field {
    .edit-custom-field{
        opacity: 0;
        transition: $transition-base;
        &[aria-expanded="true"]{
            opacity: 1;
        }
    }
    &:hover{
        .edit-custom-field{
            opacity: 1;
        }
    }
}