.headcol {
	position: absolute;
	width: 200px;
	left: 0;
	top: auto;
}

.timeslots-table {
	.contact-td > div {
		height: 64px !important;
	}
}
.timeslot {
	&.disabled {
		@apply pointer-events-none;
		> div > div {
			@apply opacity-30;
		}
	}
}
.timeslot-content {
	@apply px-1 flex flex-col justify-center h-full border border-transparent hover:border-primary transition-colors rounded-lg relative;
	&:after {
		content: '';
		width: 1px;
		height: 10px;
		top: -10px;
		z-index: -1;
		@apply absolute bg-primary transform -translate-x-1/2 left-1/2 transition-opacity opacity-0;
	}
	&.selected {
		@apply border-primary;
		&:after {
			@apply opacity-100;
		}
	}
}
