.headcol {
	position: absolute;
	width: 200px;
	left: 0;
	top: auto;

	@media (max-width: 375px) {
		width: 150px;
	}
}

.timeslots-table {
	.contact-td > div {
		height: 64px !important;
	}
}
.timeslot {
	&.disabled {
		@apply pointer-events-none;
		> div > div {
			@apply opacity-30;
		}
	}
}

.timeslot-content {
	@apply px-1 flex flex-col justify-center h-full relative;
	&.selectable {
		@apply cursor-pointer hover:border-primary-light transition-colors;
	}
	&.selected {
		::v-deep span {
			color: #27d898 !important;
		}
		&:after {
			content: '';
			height: 4px;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: #27d898 !important;
		}
	}
	&.suggested {
		@apply border-opacity-100;
	}
}
.booking-links__timeslots {
	margin-left: 200px;

	@media (max-width: 375px) {
		margin-left: 150px;
	}
}
.btn-open-timeslot {
	@apply opacity-0;
}
.timeslot-heading {
	&:hover {
		.btn-open-timeslot {
			@apply opacity-100;
		}
	}
}

.service__show-menus {
	@media (max-width: 375px) {
		@apply relative flex-col items-start w-full;

		button {
			@apply w-11/12 mx-0
		}
		
		.dropdown {
			@apply absolute top-0 -right-2;
		}
	}
}