@import '../sass/bootstrap';

[v-cloak] {
    opacity: 0;
}
body {
    background-color: rgba($gray-200, 0.5);
}
.font-heading {
    font-family: 'Avenir Next', sans-serif;
}
.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-size: no-repeat;
    background-position: center;
    position: relative;
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $gray-500;
        font-size: 24px;
    }
    &.profile-image-sm{
        width: 60px;
        height: 60px;
        span{
            font-size: 20px
        }
    }
}
.cursor-pointer {
    cursor: pointer !important;
}
.service {
    transition: $transition-base;
    &:hover {
        background-color: $light;
    }
}

.v-calendar {
    .vc-title {
        font-family: 'Avenir Next';
        font-size: 18px;
    }
    .vc-day-content {
        line-height: 1;
    }
}
.badge-day {
    width: 25px;
    height: 25px;
}
.position-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#book-progress {
    .book-step {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #ddd;
        svg {
            fill: #aaa;
        }
        &.step-current {
            background-color: $primary;
            svg {
                fill: #fff !important;
            }
        }
        &.step-complete {
            svg {
                fill: black;
            }
        }
    }
    &:before {
        position: absolute;
        content: '';
        width: 90%;
        height: 1px;
        background-color: #eee;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
}
#steps-container {
    height: 270px;
}
.w-20 {
    width: 20% !important;
}
.btn-timeslot {
    font-size: 14px;
}
.booking-loader {
    z-index: 10;
}
.checkmark-container {
    width: 80px;
    height: 80px;
}
.opacity-0 {
    opacity: 0 !important;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.35s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.weekday-slider {
    transition: $transition-base;
    > div {
        flex: 0 0 86px;
    }
    .weekday-container {
        background: $light;
    }
    .weekday-day.disabled{
        opacity: 0.35;
        pointer-events: none;
    }
}
.back-to-services {
    z-index: 1;
    top: 10px;
    left: 10px;
}
.selected-service {
    min-height: 360px;
}
.timeslots-container{
    height: 230px;
}
.booking-modal-progress{
    height: 200px;
}