@import '../../../../sass/variables';
#subscriptions {
    .user-profile-image-sm{
        width: 35px;
        height: 35px;
        span {
            font-size: 12px;
        }
    }
    .info{
        transition: $transition-base;
        width: 350px;
        margin-right: -350px;
        &.open{
            margin-right: 0
        }
    }
    .pagination .page-item{
        .page-link{
            background: $light;
        }
        &.active{
            .page-link{
                background: $gray-400 !important;
            }
        }
    }
    .select-flex {
        height: calc(1.5em + 0.7rem);
    }
}