.select {
	@apply border border-gray-300 cursor-pointer rounded-md inline-flex justify-center items-center w-full px-3 py-2 transition ring-primary ring-offset-1 focus:outline-none overflow-hidden shadow-inner;
	&.show {
		@apply border-gray-500 ring-2;
	}
}
.select-menu {
	> div {
		max-height: 200px;
	}
	@apply transform scale-95  origin-top overflow-hidden absolute right-0 top-9 w-full mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 transition-all opacity-0 ease-in-out;
	z-index: -1;
	&.open {
		@apply z-50 scale-100 opacity-100;
	}
	&.top {
		@apply bottom-11 top-auto origin-bottom;
	}
}
.search-input {
	@apply px-3 py-1 font-normal ring-opacity-0;
	font-size: 15px;
}
.select-item {
	@apply block cursor-pointer transition-colors px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900;
	&.active {
		@apply bg-primary text-white;
	}
}
