@import '../../sass/variables';

#notification {
	z-index: -1;
	bottom: 0;
	left: 20px;
	opacity: 0;
  	transition: $transition-base;
  	pointer-events: none;
	&.open {
		pointer-events: auto;
		z-index: 300;
		opacity: 1;
		bottom: 20px;
	}
}