@import '../../../../sass/variables';

#add {
	top: 0;
	left: 0;
	z-index: 1040;
	opacity: 1;
	transition: $transition-base;
	background-color: rgba($black, 0.5);
}
.user-profile-image {
	height: 40px;
	width: 40px;
	span {
		font-size: 16px;
	}
}

.timeslot-button {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	.selected-checkmark {
		right: -2px;
		top: 50%;
		transform: translateY(-50%);
		opacity: 0;
	}
	&.selected {
		background-color: $warning !important;
		.selected-checkmark {
			opacity: 1;
		}
	}
}
.badge-day {
	width: 25px;
	height: 25px;
	span {
		position: absolute;
		top: 49%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

#bookingModal {
	.disabled {
		opacity: 0 !important;
		pointer-events: none !important;
	}
}

.table-layout-fixed {
	table-layout: fixed !important;
}

.hide-tooltip {
	.tooltip {
		display: none !important;
		opacity: 0 !important;
		visibility: hidden !important;
	}
}
.minh-100 {
	min-height: 100%;
}
