.dropdown-menu {
	max-height: 250px;
}

::v-deep {
	.dropdown-w-full {
		.dropdown {
			width: 100% !important;
		}
	}
	.time-picker {
		@apply relative block;
		input {
			@apply cursor-pointer;
		}
		.controls {
			line-height: 0;
			@apply hidden absolute top-1/2 right-1 p-0;
			.clear-btn {
				@apply focus:outline-none block rounded-full  focus:outline-none cursor-pointer leading-none transform -translate-y-1/2 bg-gray-200;
				padding: 0px 6px;
				.char {
					@apply leading-none;
					font-size: 22px;
				}
			}
		}
		&.has-controls {
			.controls {
				@apply block;
			}
		}
		.dropdown {
			min-width: 150px;
			height: 150px;
			z-index: -1;
			@apply transform scale-95  origin-top overflow-hidden absolute right-0 mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 opacity-0 transition-all ease-in-out;
		}
		&:focus-within {
			.dropdown {
				@apply scale-100 opacity-100 z-50;
			}
		}
		.select-list {
			@apply flex justify-between h-full outline-none;
			> ul {
				@apply overflow-auto w-full relative;
				&:not(:last-child) {
					border-right: solid 1px theme('colors.gray.200');
				}
				li {
					&.hint {
						@apply uppercase text-muted;
					}
					@apply block cursor-pointer py-2 transition-colors  text-center text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900;
					&:first-child {
						@apply pointer-events-none;
					}
					&.active {
						@apply font-bold;
					}
					&[disabled] {
						@apply pointer-events-none text-gray-300;
					}
				}
			}
		}
		.custom-icon {
			@apply absolute top-1/2 transform -translate-y-1/2 left-3;
		}

		&.clock-icon input {
			@apply pl-9 #{!important};
		}
	}
}
