.hover-trigger {
  .hover-target {
    display: none;
  }

  &:hover {
    cursor: pointer;

    .hover-target {
      display: block;
    }
  } 
}

.labelSettingModal.modal {
  ::v-deep .modal-body {
    overflow: inherit !important;
  }
}