@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/avenir-next/AvenirNext-Regular.woff2') format('woff2'),
        url('/fonts/avenir-next/AvenirNext-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/avenir-next/AvenirNext-Medium.woff2') format('woff2'),
        url('/fonts/avenir-next/AvenirNext-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/avenir-next/AvenirNext-DemiBold.woff2') format('woff2'),
        url('/fonts/avenir-next/AvenirNext-DemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


