@import 'public/fonts/google/nunito-sans';
@import 'public/fonts/google/open-sans';
@import "variables.scss";

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/utilities';

$widget-height: 710px;
#widget {
	font-size: 12px;
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	* {
		box-sizing: border-box;
		&::-webkit-scrollbar {
			-webkit-appearance: none;
			width: 6px;
			height: 8px;
		}
		&::-webkit-scrollbar-thumb {
			cursor: pointer;
			border-radius: 30px;
			background: rgba(black, 0.4);
			transition: background 2s ease !important;
			border: 0;
		}
		&::-webkit-scrollbar-track {
			display: none;
		}
	}
	.font-heading{
    	font-family: 'Avenir Next', sans-serif;
	}
	.line-height-sm {
		line-height: $line-height-sm !important;
	}
	.line-height-1 {
		line-height: 1 !important;
	}
	.line-height-base {
		line-height: $line-height-base !important;
	}
	#button {
		line-height: 1;
		width: 50px;
		height: 50px;
		position: fixed;
		bottom: 20px;
		z-index: 77777;
		right: 20px;
		border-radius: 50%;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		font-size: 14px;
		cursor: pointer;
		color: white;
		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	#window {
		border-radius: 10px;
		z-index: 77777;
		overflow: hidden;
		max-width: 95vw;
		position: fixed;
		bottom: 80px;
		right: 20px;
		background-color: #f0f1f3;
		transform: scale(0);
		transition: transform 0.3s, opacity 0.15s;
		transform-origin: 100% 100%;
		opacity: 0;
		max-height: 85vh;
		height: $widget-height;
		box-shadow: 0 0 15px rgba(0,0,0,0.3);
		&.window-open {
			transform: scale(1);
			opacity: 1;
		}
		#media-items {
			flex: 1;
			flex-wrap: wrap;
			position: relative;
			.media-item {
				position: relative;
				.media-item-content {
					height: 100%;
					> div {
						border: dashed 2px $gray-200;
					}
				}
			}
			#new-media-item {
				padding: 12px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.media-item-bottom-buttons {
			bottom: 10px;
		}
		#section-left {
			position: relative;
		}
		#section-right {
			width: 380px;
		}
	}

	.position-absolute-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.btn-circle {
		border-radius: 50%;
		padding: 10px;
		line-height: 1;
	}
	.cursor-pointer {
		cursor: pointer !important;
	}
	.cursor-auto {
		cursor: auto !important;
	}
	.pointer-events-none {
		pointer-events: none !important;
	}
	.line-height-0 {
		line-height: 0 !important;
	}

	.fade-enter,
	.fade-leave-to {
		opacity: 0;
	}
	.fade-enter-active,
	.fade-leave-active {
		transition: $transition-base;
	}
	.fade-leave {
		transition: none;
		opacity: 0;
	}

	.vue-select {
		.dropdown-menu {
			width: 100%;
			border: solid 1px $border-color !important;
			&.visible {
				display: block;
			}
		}
		.dropdown-toggle {
			font-weight: 500;
			transition: none !important;
			position: relative;
			z-index: 2;
			background-color: white;
			.select-placeholder {
				position: relative;
				z-index: 5;
			}
			svg {
				position: absolute;
				right: 8px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.dropdown-item {
			color: $black;
			padding-left: 0.75rem;
			&.active {
				font-weight: 500;
			}
		}
		.dropdown-container {
			z-index: 5;
			&.show {
				.dropdown-toggle {
					border-left-color: $primary !important;
					border-right-color: $primary !important;
					border-radius: $border-radius !important;
					z-index: 3;
				}
				.dropdown-menu {
					border: solid 1px $primary !important;
					z-index: 2;
				}
			}

			&.dropup {
				.dropdown-menu {
					bottom: -2px;
					padding-bottom: 36px;
				}
				&.show {
					.dropdown-toggle {
						margin-top: 1px;
						border-top: 0 !important;
						border-bottom-color: $primary !important;
						border-top-left-radius: 0 !important;
						border-top-right-radius: 0 !important;
					}
				}
			}

			&.dropdown {
				.dropdown-menu {
					top: -2px;
					padding-top: 36px;
					z-index: 1;
				}
				&.show {
					.dropdown-toggle {
						margin-bottom: 1px;
						border-bottom: 0 !important;
						border-top-color: $primary !important;
						border-bottom-left-radius: 0 !important;
						border-bottom-right-radius: 0 !important;
						z-index: 4;
					}
					.dropdown-menu {
						z-index: 3;
					}
				}
			}
		}

		.input-searchable {
			border-color: transparent;
			position: relative;
			z-index: 5;
			cursor: text !important;
			&::placeholder {
				color: $black;
			}
			&:focus::placeholder {
				color: #999;
			}
		}
		.multiple-values {
			position: relative;
			z-index: 1;
			.badge-pill {
				border: solid 1px white;
				background: rgba(black, 0.1);
				padding-top: 0;
				padding-bottom: 0;
				font-weight: normal;
				padding-right: 0;
			}
		}
		&[disabled] {
			.dropdown-toggle {
				background-color: $input-disabled-bg;
			}
			* {
				pointer-events: none;
			}
		}
	}

	// Full page styles
	.fullpage {
		width: 100vw;
		height: 100vh;
		#window {
			border-radius: 0 !important;
			position: relative;
			bottom: 0;
			right: 0;
			max-width: 100vw;
			max-height: 100vh;
			#section-left {
				flex: 1;
				display: block;
			}
			#section-right {
				width: 450px;
			}
		}
		.section-left-open-toggle {
			button {
				display: none;
			}
		}
		#section-left {
			transition: $transition-base;
			.section-left-open-toggle {
				button {
					display: none;
				}
			}
		}

		@media screen and (max-width: 991px) {
			#section-left {
				position: absolute !important;
				z-index: 100;
				width: 100vw !important;
				height: 100vh;
				&.section-left-open {
					right: 100%;
				}
				&:not(.section-left-open) {
					right: 0;
				}
				.section-left-open-toggle {
					button {
						display: block;
					}
				}
			}
			#section-right {
				width: 100vw !important;
				height: 100vh !important;
			}
			.section-left-open-toggle {
				button {
					display: block;
				}
			}
		}
	}

	.modal {
		transition: $transition-base;
		opacity: 0;
		&.modal-show {
			opacity: 1;
		}
	}
	.modal-backdrop {
		opacity: 0.5;
	}
	.btn-close {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 28px !important;
		box-shadow: none;
		padding-top: 0;
		opacity: 0.8;
		z-index: 10;
		&:hover {
			opacity: 1;
		}
	}
	.profile-image {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: $gray-300;
	}
	.text-underline {
		text-decoration: underline !important;
	}

	.border-dashed {
		border: dashed 2px $gray-200;
	}
	.or-vertical {
		padding: 10px 0;
		&:before {
			content: '';
			position: absolute;
			width: 1px;
			background-color: $gray-300;
			height: 80%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		span {
			position: absolute;
			z-index: 1;
			background-color: white;
			padding: 3px 0;
			color: $gray-500;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	#instagram-search {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		> div {
			background-color: #f3f6fd;
		}
		#instagram-results {
			height: 200px;
			margin-bottom: -215px;
			transition: $transition-base;
		}
		&.instagram-open {
			#instagram-results {
				margin-bottom: 0;
			}
			> div {
				border: solid 1px $gray-300;
				box-shadow: 0 0 10px $gray-400;
			}
		}
	}
	.form-group-icon {
		position: relative;
		input {
			padding-left: 34px;
		}
		svg {
			position: absolute;
			top: 50%;
			left: 5px;
			transform: translateY(-50%);
		}
	}
	.close-right {
		position: absolute;
		top: 0;
		right: 0;
	}
	.flex-25 {
		flex: 0 0 25%;
	}
	.flex-50 {
		flex: 0 0 50%;
	}
	small {
		line-height: $line-height-sm;
	}

	.camera-flash {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(white, 0.5);
		z-index: 1;
	}
	.media-lightbox {
		position: relative;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 300px;
		.media-change {
			position: absolute;
			width: 100%;
			bottom: 0;
		}
	}
	.text-shadow {
		text-shadow: 0 1px 0 #fff;
	}
	.text-shadow-dark {
		text-shadow: 0 1px 0 #000;
	}
	.resize-none {
		resize: none !important;
	}
	.form-group {
		.form-label {
			font-size: 13px;
			margin-bottom: 0.2rem;
			font-weight: 600;
			&.required:after {
				content: ' *';
				color: $danger;
			}
		}
	}

	.btn-xs {
		font-size: 12px !important;
	}
	.font-heading {
		font-family: 'Nunito Sans', sans-serif;
	}

	// Tooltips
	.tooltip {
		z-index: 99999;
		position: absolute;
		width: auto;
		white-space: nowrap;
		font-weight: normal !important;
		font-size: 13px;

		.tooltip-inner {
			background: black;
			color: white;
			border-radius: 16px;
			padding: 4px 10px;
			font-size: 0.9em;
		}

		.tooltip-arrow {
			width: 0;
			height: 0;
			border-style: solid;
			position: absolute;
			border-color: black;
			z-index: 1;
		}

		&[x-placement^='top'] {
			bottom: calc(100% + 7px);
			left: 50%;
			transform: translateX(-50%);

			.tooltip-arrow {
				border-width: 5px 5px 0 5px;
				border-left-color: transparent !important;
				border-right-color: transparent !important;
				border-bottom-color: transparent !important;
				bottom: -5px;
				left: calc(50% - 5px);
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		&[x-placement^='bottom'] {
			margin-top: 5px;
			left: 50%;
			transform: translateX(-50%);

			.tooltip-arrow {
				border-width: 0 5px 5px 5px;
				border-left-color: transparent !important;
				border-right-color: transparent !important;
				border-top-color: transparent !important;
				top: -5px;
				left: calc(50% - 5px);
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		&[x-placement^='right'] {
			margin-left: calc(100% + 7px);
			top: 50%;
			transform: translateY(-50%);

			.tooltip-arrow {
				border-width: 5px 5px 5px 0;
				border-left-color: transparent !important;
				border-top-color: transparent !important;
				border-bottom-color: transparent !important;
				left: -4px;
				top: 50%;
				transform: translateY(-50%);
				margin-left: 0;
				margin-right: 0;
			}
		}

		&[x-placement^='left'] {
			right: calc(100% + 7px);
			top: 50%;
			transform: translateY(-50%);

			.tooltip-arrow {
				border-width: 5px 0 5px 5px;
				border-top-color: transparent !important;
				border-right-color: transparent !important;
				border-bottom-color: transparent !important;
				right: -4px;
				top: 50%;
				transform: translateY(-50%);
				margin-left: 0;
				margin-right: 0;
			}
		}

		&.popover {
			$color: #f9f9f9;

			.popover-inner {
				background: $color;
				color: black;
				padding: 24px;
				border-radius: 5px;
				box-shadow: 0 5px 30px rgba(black, 0.1);
			}

			.popover-arrow {
				border-color: $color;
			}
		}

		&[aria-hidden='true'] {
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.15s, visibility 0.15s;
		}

		&[aria-hidden='false'] {
			visibility: visible;
			opacity: 1;
			transition: opacity 0.15s;
		}
	}

	.toasted {
		z-index: 99999 !important;
	}
	.opacity-0 {
		opacity: 0;
	}
	.hover-opacity-1:hover {
		.opacity-0 {
			opacity: 1;
		}
	}
	.btn:disabled {
		cursor: default !important;
		pointer-events: none !important;
	}
	.outline-0 {
		outline: 0 !important;
	}
	.ig-image {
		overflow: hidden;
		cursor: pointer;
		position: relative;
		width: 25%;
		button {
			transition: $transition-base;
			opacity: 0;
			z-index: 1;
		}
		&:hover {
			button,
			&:before {
				opacity: 1;
			}
		}
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(black, 0.5);
			opacity: 0;
			transition: $transition-base;
			top: 0;
			left: 0;
		}
		.ig-watermark {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 0;
			width: 20px;
		}
	}
	.overflow-y-only {
		overflow-x: hidden;
		overflow-y: auto;
	}

	.datepicker {
		background-color: #e9ecef;
		> svg {
			position: absolute;
			right: 4px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.vc-day-content {
		line-height: 1 !important;
	}
	.form-control {
		display: block !important;
		width: 100% !important;
		height: calc(1.5em + 0.4rem) !important;
		padding: 1rem 0.75rem !important;
		font-size: 0.9rem !important;
		font-weight: 400 !important;
		line-height: 1.5 !important;
		color: #495057 !important;
		background-clip: padding-box !important;
		border-radius: 0.5rem !important;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
	}
	.form-control-sm {
		height: calc(1.2em + 0.5rem) !important;
		padding: 0.25rem 0.5rem !important;
		font-size: 0.875rem !important;
		line-height: 1.2 !important;
		border-radius: 0.2rem !important;
		margin: 0 !important;
		box-shadow: none !important;
	}
	.btn {
		.spinner {
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			line-height: 0;
		}
	}
	.profile-image {
		width: 34px;
		height: 34px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: inline-block;
		position: relative;
		span{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $gray-500;
		}
	}

	
    .chat-status {
        line-height: 0;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
    .account-menu{
    	visibility:hidden;
    	opacity: 0;
    	position: absolute;
    	top: 0;
    	left: 100%;
    	z-index: 10;
    	transition: visibility 0s, opacity 0.15s;
    	&.account-menu-show{
    		opacity: 1;
    		visibility: visible;
    	}
    }


	@import 'node_modules/bootstrap/scss/grid';
	@import 'node_modules/bootstrap/scss/buttons';
	@import 'node_modules/bootstrap/scss/dropdown';
	@import 'node_modules/bootstrap/scss/list-group';
	@import 'node_modules/bootstrap/scss/badge';
	@import 'node_modules/bootstrap/scss/type';
	@import 'node_modules/bootstrap/scss/nav';
	@import 'node_modules/bootstrap/scss/forms';
	@import 'node_modules/bootstrap/scss/modal';
	@import 'node_modules/bootstrap/scss/spinners';
	@import 'node_modules/bootstrap/scss/card';
	@import 'node_modules/bootstrap/scss/media';
	@import 'node_modules/bootstrap/scss/spinners';
	@import 'node_modules/bootstrap/scss/reboot';
}
