.profile-image {
	@apply bg-cover bg-center bg-no-repeat rounded-full bg-primary relative;
	width: 36px;
	height: 36px;
	> span {
		@apply absolute transform -translate-x-1/2 -translate-y-1/2 z-10 left-1/2 top-1/2 text-sm font-bold text-white leading-tight;
	}
	&.profile-image-sm {
		width: 28px;
		height: 28px;
		> span {
			@apply text-xs;
		}
	}
	&.profile-image-md {
		width: 40px;
		height: 40px;
		> span {
			@apply text-lg;
		}
	}
	&.profile-image-xl {
		width: 80px;
		height: 80px;
		> span {
			@apply text-3xl;
		}
	}
}
.timeslot {
	width: 112px;
	@apply rounded-full border border-transparent text-center py-1.5 text-sm mt-3 bg-gray-50 transition-colors hover:bg-gray-200;
	&.disabled {
		@apply pointer-events-none border-gray-200 text-gray-300 bg-white;
	}
	&.selected {
		@apply bg-green-400 text-white font-semibold;
	}
}

.coach-card {
	@apply bg-gray-50 rounded-2xl p-3 cursor-pointer transition-colors hover:bg-gray-100 border-2 border-primary border-opacity-0 hover:border-opacity-100;
	&.active {
		@apply border-opacity-100;
	}
}
