.toggle {
	cursor: pointer;
	width: 48px;
	height: 24px;
	border-radius: 200px;
	@apply bg-gray-400 transition-colors;
	&[disabled] {
		opacity: 0.5;
		pointer-events: none !important;
	}

	.draggable {
		pointer-events: none;
		width: 24px;
		height: 24px;
		transform: translateX(0%);
		@apply p-1 transition-transform;
		> div {
			@apply bg-white rounded-full w-full h-full;
		}
	}

	&.active {
		@apply bg-primary;
	}
}
