.auth-container {
	@apply transition-all opacity-0 top-0 left-0 bg-secondary fixed w-screen h-screen overflow-hidden;
	z-index: 999999;
	padding-right: 5px;
	&.open {
		@apply opacity-100 overflow-auto;
		padding-right: 0;
	}
}
.auth-card {
	@apply bg-white lg:p-12 p-8 rounded-xl;
	width: 536px;
	max-width: 90vw;
}
.auth-heading {
	@apply text-primary font-serif  mt-20 mb-8 uppercase font-semibold;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: -1.75px !important;
}
