.dropdown {
	@apply relative inline-block;

	.dropdown-menu {
		> div {
			max-height: 200px;
		}
		@apply transform scale-95  origin-top overflow-hidden absolute right-0 mt-1 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 transition-all opacity-0 ease-in-out whitespace-nowrap p-2;
		z-index: -1;
		&.top {
			@apply origin-bottom top-auto bottom-10;
		}
		&.right {
			@apply origin-left top-0 -right-36;
		}
	}
	.dropdown-item {
		@apply block cursor-pointer rounded transition-colors px-2 py-1 text-sm text-gray-700 hover:bg-gray-50 hover:text-gray-900;
		&.active {
			@apply bg-primary text-white;
		}
	}
	&.open {
		.dropdown-menu {
			@apply z-50 scale-100 opacity-100;
		}
	}
	&.disabled {
		@apply pointer-events-none opacity-50;
	}
}
