@import '../../sass/variables';
.form-search {
    position: relative;
    .btn-clear {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        svg {
            transition: $transition-base;
            fill: #999;
        }
        &:hover,
        &:focus{
            svg{
                fill: $black;
            }
        }
    }
    .form-control {
        padding-right: 30px !important;
    }
}