@import '../../../../../sass/variables';
.user-profile-image {
	width: 100px;
	height: 100px;
	span {
		font-size: 35px;
	}
}
.badge-icon {
	svg {
		transform: scale(1.3);
		margin-right: 2px;
	}
	&.text-primary {
		svg {
			fill: $primary;
		}
	}
	&.text-warning {
		svg {
			fill: $warning;
		}
	}
}
.service {
	width: 33%;
}
.profile-image {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-size: cover;
	background-size: no-repeat;
	background-position: center;
	background-color: $gray-400;
	position: relative;
	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $gray-500;
		font-size: 24px;
	}
	&.profile-image-md {
		width: 60px;
		height: 60px;
		span {
			font-size: 24px;
		}
	}
}
.timeslots-dropdown-menu {
	max-height: 400px;
}
.online-status {
	width: 20px;
	height: 20px;
	right: 6px;
	border-width: 3px;
}
