@import '../../../../../sass/variables';
.info {
	transition: $transition-base;
	width: 350px;
	margin-right: -350px;
	&.open {
		margin-right: 0;
	}
}
.contact {
	&.active {
		box-shadow: 0 0 0 0.1rem $primary;
	}
}
.w-35 {
	width: 35% !important;
}
.w-15 {
	width: 15% !important;
}

.badge-icon {
	svg {
		transform: scale(1.3);
		margin-right: 2px;
	}
	&.text-primary {
		svg {
			fill: $primary;
		}
	}
	&.text-warning {
		svg {
			fill: $warning;
		}
	}
}
.btn-close {
	top: 10px;
	right: 10px;
}
.user-profile-image {
	width: 55px;
	height: 55px;
	span {
		font-size: 20px;
	}
}
.btn-add {
	border: dashed 1px $gray-500;
	transform: none !important;
	padding-top: 55px;
	padding-bottom: 55px;
}
.member-buttons {
	top: 10px;
	right: 10px;
}
