.booking {
	@apply absolute top-0  bg-white p-8 shadow-lg h-full overflow-auto transition-all ease-in-out flex flex-col;
	width: 416px;
	right: -456px;
	&.open {
		@apply right-0;
	}
}
.input-prefix {
	@apply relative;
	input {
		@apply pl-10;
	}
	.input-icon {
		@apply text-gray-300;
		svg {
			@apply absolute transform -translate-y-1/2 z-10 left-4 top-1/2 fill-current;
		}
	}
}
.contact-remove {
	opacity: 0;
	@apply p-1 cursor-pointer transition-colors text-gray-400;
}
.contact-item {
	@apply flex justify-between items-center p-2 bg-gray-100 rounded mt-1;
	&:hover {
		.contact-remove {
			opacity: 1;
		}
	}
}
.timeslot {
	@apply cursor-pointer transition-colors hover:bg-white;
	&.disabled {
		@apply pointer-events-none;
		> div > div {
			@apply opacity-30;
		}
	}
	&.selected {
		@apply bg-primary-ultralight;
	}
}
.timeslot-content {
	@apply px-1 flex flex-col justify-center h-full border border-transparent transition-colors rounded-lg relative;
}

.contact-td > div {
	height: 64px !important;
}

.badge-day {
	@apply cursor-pointer rounded-full bg-white w-7 h-7 relative border p-2 font-serif text-muted text-xs font-semibold transition-colors hover:bg-gray-200;
	&.active {
		@apply bg-primary text-white border-primary;
	}
}
.btn-tabs {
	.btn-tab {
		font-size: 9px;
		@apply cursor-pointer transition-colors hover:bg-gray-50 flex-grow p-3 font-serif border border-gray-300 font-semibold text-center;
		&.active {
			@apply border-primary ring-1 ring-primary ring-inset;
		}
		&:first-child {
			@apply rounded-tl-md rounded-bl-md;
		}
		&:last-child {
			@apply rounded-tr-md rounded-br-md;
		}
		&.disabled {
			@apply pointer-events-none opacity-75;
		}
		> span {
			@apply inline-block relative -bottom-px;
		}
	}
}
.tooltip-info {
	@apply text-white bg-gray-400 rounded-full hover:bg-black cursor-pointer relative inline-block;
	font-size: 10px;
	width: 13px;
	height: 13px;
	&:before {
		@apply text-white absolute transform -translate-x-1/2 -translate-y-1/2;
		top: 49%;
		left: 50%;
		content: '?';
	}
}
