@import '../../../sass/variables';
.actions {
    width: 128px;
    transition: width 0.15s;
    margin-right: 8px;
    &.expand {
        width: 195px;
    }
    .btn-more {
        background: white;
        position: absolute;
        bottom: 10px;
        right: 7px;
        svg {
            stroke: $primary;
            stroke-width: 1;
            &.rotate {
                transform: rotate(45deg);
            }
        }
    }
}
.message-sender {
    margin-bottom: 6px;
}
.message-input {
    border-radius: 10px;
    font-size: 14px;
}
.btn-circle-actions {
    border-radius: 50%;
    padding: 6px;
    line-height: 1;
}
.conversation-title[contenteditable] {
    border: solid 1px transparent;
    &:focus {
        border-color: $gray-300;
        outline: 0;
    }
}
.delete-member {
    top: 5px;
    right: 5px;
    transition: $transition-base;
}
.member-item:hover {
    .delete-member {
        opacity: 1;
    }
}
.member-result:hover {
    background-color: $light;
}
.members-search-container {
    max-height: 200px;
}
.form-icon {
    position: relative;
    svg {
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
    }
    .form-control {
        padding-left: 35px !important;
    }
}
.conversation-dropdown {
    top: 8px;
    right: 5px;
    z-index: 5;
}
.note:hover .delete-note {
    opacity: 1;
}
.delete-note {
    top: 5px;
    right: 5px;
    transition: $transition-base;
}
#fileViewModal {
    img,
    video {
        height: 500px;
    }
}
.message-form svg {
    transition: $transition-base;
}
.message-form svg:hover {
    transform: scale(1.1);
}
#videoRecorderModal .modal-content {
    height: 500px;
}
#audioRecorderModal .modal-content {
    height: 500px;
}
.preview-video-play {
    line-height: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5px;
}
.file-details{
    font-size: 13px;
}
.file-thumbnail {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.user-profile-image-sm {
    width: 25px !important;
    height: 25px !important;
    span {
        font-size: 9px !important;
    }
}
.conversation-messages {
    width: 0;
}
.conversation-list {
    width: 380px;
}
.conversation-details {
    width: 350px;
    margin-right: -350px;
    transition: $transition-base;
    &.open{
        margin-right: 0;
    }
    .user-profile-image {
        width: 50px;
        height: 50px;
        span {
            font-size: 18px;
        }
        &.user-profile-image-message {
            width: 35px;
            height: 35px;
        }
    }
    .btn-close{
        z-index: 10;
        top: 0;
        right: 0;
    }
}
.btn-tab {
    position: relative;
    .btn {
        color: #aaa;
    }
    &.btn-tab-active {
        &:after {
            content: '';
            width: 100%;
            height: 3px;
            background-color: $primary;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .btn {
            color: black;
        }
    }
}
.user-profile-image {
    width: 35px;
    height: 35px;
}
.str-limit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.conversation-preview {
    background-color: white;
    transition: $transition-base;
    &.active {
        /*background-color: #f7f8fc;*/
    }
    &:hover {
        .conversation-dropdown {
            opacity: 1;
        }
    }
}
.message-group {
    .user-profile-image {
        width: 28px;
        height: 28px;
        margin-bottom: 4px;
    }
    margin-bottom: 1.5rem;
    .message-content {
        padding: 6px 10px;
        margin-bottom: 2px;
        font-size: 14px;
        display: inline-block;
        text-align: left;
        transition: $transition-base;
        border-radius: 2px;
    }

    .message-content:hover {
        .message-actions {
            visibility: visible;
            opacity: 1;
        }
    }
    .message-actions.show {
        visibility: visible;
        opacity: 1;
    }
    .message-actions {
        visibility: hidden;
        opacity: 0;
        top: 0;
        z-index: 10;
        transition: visibility 0s, opacity 0.14s;
        svg {
            transition: $transition-base;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    /* Outgoing message */
    .outgoing-message {
        padding-left: 45px;
        .message-content {
            background-color: $primary;
            color: white;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            text-align: right;
        }
        .message-item:only-child,
        .message-item:first-child {
            .message-content {
                border-top-right-radius: 15px;
            }
        }
        .message-item:only-child,
        .message-item:last-child:not(:only-child) {
            .message-content {
                border-bottom-right-radius: 15px;
            }
        }
        .message-actions {
            left: -25px;
        }
    }

    /* Incoming message */
    .message-body:not(.outgoing-message) {
        padding-right: 45px;
        .message-content {
            background-color: #F2F4F9;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        .message-item:only-child,
        .message-item:first-child {
            .message-content {
                border-top-left-radius: 15px;
            }
        }
        .message-item:only-child,
        .message-item:last-child:not(:only-child) {
            .message-content {
                border-bottom-left-radius: 15px;
            }
        }
        .message-actions {
            right: -25px;
        }
    }
    small {
        padding: 0 33px;
    }
}
.btn-new-chat svg{
    stroke: $primary;
    stroke-width: 1;
}
.font-size-base{
    font-size: $font-size-base !important;
}